@import "./Vars.scss";

body,
html {
  font-family: "Instrument Serif", serif;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
button {
  font-family: "Instrument Serif", serif !important;
  font-family: "Poppins", sans-serif !important;
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
  font-weight: bold !important;
  text-transform: none !important;
  font-size: 1em !important;
  padding: 1em 2.5em !important;
}
.MuiIconButton-root{
  background-color: transparent !important;
  padding: .5em !important;
}