:root{
    $primaryColor: #9B59B6;
    $secondaryColor: #F4D03F;
    $primaryTextColor:#212F3D;
    $secondaryTextColor:#808B96;
    $white: #fff;
    $boxShadow: 0 3px 10px rgb(0 0 0 / 0.2);
    $border: 1px solid #34495E;
}

:root {
    --primary-color: #E80089;
    --secondary-color: #F4D03F;
    --primary-text-color: #212F3D;
    --secondary-text-color: #808B96;
    --white: #fff;
    --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    --border: 1px solid #34495E;
}